body {
    max-width: 90%;
    float: none;
    margin: auto;
}

p {
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    font-family: lato;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    display: block;
    float: left;
}

p:hover {
    cursor: pointer;
    background: #333;
    color: #eee;
}

.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.fil-cat {
    width: 45%;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}